#add_book_button {
  width: 100px;
  height: 100px;
  transform: translateX(400px);
}
#add_author_button {
  width: 100px;
  height: 100px;
  transform: translateX(500px);
}
/* #deleteAuthor {
  float: right;
  margin: 10px;
}
#updateAuthor {
  float: right;
  margin: 10px;
} */
